#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_auto_build:
	# ignore: no build step needed

override_dh_auto_install:
	# ignore: no install step needed
